{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}

<!--Carousal section-->
{% include 'home/includes/carousal.html' %}

 <h2 class="subtitle">All Reviews</h2>
 
                
                        {% for review in reviews %}
                        <p>
                            <strong>Date:</strong>{{ review.created | date:"Y-M-D"}},
                            <strong>Rating:</strong>{{ review.stars}},
                        </p>
                        {{review.content}}
                        {% empty %}
                            No Reviews Yet
                        {% endfor %}

<!--Reviews section-->
{% include 'home/includes/reviews.html' %}

{% endblock %}