<!--Footer-->
    <div class="container-top footer-background">
        <div class="row text-center">    
                <div class="col-4">
                        <h5 class="footer-heading">The PMP Exam</h5>
                        <nav class="nav nav-links flex-column">
                            <a class="footer-link" href="https://www.aileenellis.com/PMP-Exam-Whiteboard">PMP Exam Online Whiteboard</a>
                            <a class="footer-link" href="https://www.aileenellis.com/how-to-apply-for-the-PMP-Exam">How to apply for the PMP Exam</a>
                        </nav>
                    </div>
                    <div class="col-4">
                        <h5 class="footer-heading">Quick links</h5>
                        <nav class="nav nav-links flex-column">
                            <a class="footer-link" href="">Meet the Team</a>
                            <a class="footer-link" href="">Contact Us</a>
                        </nav>
                    </div>
                    <div class="col-4">
                        <h5 class="footer-heading">Exam Content</h5>
                        <nav class="nav nav-links flex-column">
                            <a class="footer-link" href="https://www.pmi.org/-/media/pmi/documents/public/pdf/certifications/pmp-examination-content-outline.pdf?v=4023b5f7-b932-4b1d-8620-7ab941cc4e76">2021 Exam Content Outline</a>
                        </nav>
                    </div>
            </div>
    </div> 
 