<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item d-block d-md-none">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'home' %}" id="home-link">
                Home
            </a>
        </li>
        <li class="nav-item dropdown">
             <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link logo-font font-weight-bold nav-link text-black mr-5" href="">ABOUT US</a>
                </li>
            </ul>
        </li>

            <li class="nav-item dropdown">
                <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Products
                </a>
                <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                    <a href="{% url 'products' %}?category=book" class="dropdown-item">Books</a>
                    <a href="{% url 'products' %}?category=on-demand-videos" class="dropdown-item">On Demand Videos</a>
                    <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                    <a href="{% url 'products' %}?category=book,on-demand-videos&direction=asc" class="dropdown-item ">By Category</a>
                    <a href="{% url 'products' %}?sort=author&direction=asc" class="dropdown-item ">By Author</a>
                    <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-courses-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Courses
                </a>
                <div class="dropdown-menu border-0" aria-labelledby="all-courses-link">
                    <a href="{% url 'courses' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                    <a href="{% url 'courses' %}?sort=author&direction=asc" class="dropdown-item ">By Author</a>
                    <a href="{% url 'courses' %}" class="dropdown-item">All Courses</a>
                </div>
            </li>

       

        <li class="nav-item dropdown">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'contact' %}">CONTACT US</a>
                </li>
            </ul>
        </li>
    </ul>
</div>