{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content%}

<!-- 404 Error handling-->
<div class="container-fluid p-auto">
    <div class="row ">
        <div class="col-12 text-center">
            <h1 class="large">404 - Page Not Found</h1>
            <p>The page you requested couldn't be found - this could be due to a spelling error in the URL or a removed page.</p>
            <a href="{% url 'home' %}" class="btn btn-black rounded-0 text-uppercase">Back to Homepage</a>
            <a class="btn btn-black rounded-0 text-uppercase" href="{% url 'contact' %}">Contact Us</a>
        </div>
    </div>
</div>
{% endblock %}