{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content%}

<!-- 500 Error handling-->
<div class="container-fluid p-5">
    <div class="row">
        <div class="col-12 text-center">
            <h1 class="large p-5">500</h1>
            <h2>Internal Server Error</h2>
            <p class="p-5">Something has gone wrong. Please contact us, or try again in a couple of minutes.</p>
            <a href="{% url 'home' %}" class="btn btn-black rounded-0 text-uppercase">Back to Homepage</a>
            <a class="btn btn-black rounded-0 text-uppercase" href="{% url 'contact' %}">Contact Us</a>
        </div>
    </div>
</div>
{% endblock %}