{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}

<div class="container-top col-lg-12 about-container" data-aos="fade-up" data-aos-duration="1000">
    <div class="row">
       <div class="col-md-12 pt-3 pb-5" data-aos="fade-up" data-aos-duration="1100">
             <div class="card m-3 h-100">
                <div class="card-body text-center">
                    <p class="card-text">Velopi is an approved provider of project management training by the Project Management Institute (PMI).   As a PMI Authorized Training Partner (ATP), Velopi's training courses have been reviewed against PMI's Quality Assurance guidelines.</p>
                </div>
            </div>
        </div>  
    </div>
    <div class="row">
        <div class="col-md-6" data-aos="fade-up-right" data-aos-duration="1100">
            <div class="card">
                                                <form>
                                                    <div class="form-group text-center">
                                                        <div class="row justify-content-md-center">
                                                            <p><i class="fas fa-envelope"></i> <u>Nicola.Finlay@abbott.com</u><br><i class="fas fa-phone"></i> +353 71-9156268<br><i class="fas fa-mobile-alt"></i> 0872843560<br><br>
                                                                <b style="padding-left: 10px; padding-right: 10px;"><u>Areas of Responsibility</u></b><br><i class="fas fa-check-circle"></i> Employee Relations <br><i class="fas fa-check-circle"></i> Compensation & Benefits <br><i class="fas fa-check-circle"></i> Business Support<br><i class="fas fa-check-circle"></i> L&D</p>
                                                        </div>
                                                    </div>                           
                                                </form>
                                            </div>
        </div>   
        <div class="col-md-6 pb-8" data-aos="fade-up-left" data-aos-duration="1100">
             <div class="card m-3 h-100">
                <div class="card-body text-center">
                    <h5 class="card-title text-black">PMP Bootcamp Refresher Course</h5>
                    <i class="fas fa-chalkboard-teacher fa-lg icon-course"></i>
                    <p class="card-text">Have you attended a Project Management Course in the past and never quite got around to sitting that Project Management Exam and gaining your PMP certification?</p>
                    <a href="{% url 'courses' %}" class="btn btn-black rounded-0 text-uppercase">View Course</a>
                </div>
            </div>           
        </div>   
    </div>
    
</div>


{% endblock %}