<div class="container-fluid container-top">
    <div class="row">
        <div class="col-12">
            <div id="demo" class="carousel slide carousel-fade" data-ride="carousel">
                 <ul class="carousel-indicators">
                    <li data-target="#demo" data-slide-to="0" class="active"></li>
                    <li data-target="#demo" data-slide-to="1"></li>
                </ul>
                <div class="carousel-inner">
                    <div class="carousel-item carousel-item-home active">
                        <img src="{{ MEDIA_URL }}hp1.jpg" alt="Girls running" class="d-block">
                        <div class="carousel-caption">
                            <h1>Start Your PMP Journey today !</h1>
                            <div class="my-5">
                                <a href="{% url 'products' %}" class="shop-now-button bg-dark btn btn-md rounded-0 text-uppercase py-3">View our Products</a>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item carousel-item-home">
                        <img src="{{ MEDIA_URL }}hp2.jpg" alt="Woman Studying" class="d-block">
                        <div class="carousel-caption">
                            <h1>Start Your PMP Journey today !</h1>
                            <div class="my-5">
                                <a href="{% url 'products' %}" class="shop-now-button bg-dark btn btn-md rounded-0 text-uppercase py-3">View our Products</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>