<!--https://stackoverflow.com/questions/60953929/slider-in-django-website-using-bootstrap4-carousel-->
<div class="container-top col-lg-12" data-aos="fade-up" data-aos-duration="1000">
<h2 class="text-center pt-3 text-black">Testimonials</h2>

<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        {% for testimonial in testimonials %}
            {% if forloop.first %}
                <li data-target="#carouselExampleIndicators" data-slide-to="{{forloop.counter0}}" class="active"></li>
            {% else %}
                <li data-target="#carouselExampleIndicators" data-slide-to="{{forloop.counter0}}"></li>

            {% endif %}
        {% endfor %}
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        {% for testimonial in testimonials %}
            {% if forloop.first %}
                <div class="carousel-item active">
            {% else %}
                <div class="carousel-item">
            {% endif %}
                    <div class="card-reviews card pb-3">
                        <div class="row g-0">
                            <div class="col-md-9">
                                <div class="card-body">
                                    <p class="card-text "><em>"{{testimonial.content}}"</em></p>
                                    <p class="card-text ">-{{testimonial.full_name}} {{testimonial.created}}</p>
                                </div>
                            </div>
                            <div class="col-md-3">                              
                                <img class="card-img-top mx-auto d-block" style="width: 152px; height: 150px;" src="{{ MEDIA_URL }}pmp.png" alt="PMP Logo">             
                            </div>
                        </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
</div>